<div class="p-5 border-b border-slate-200">
  <div class="text-lg font-bold text-slate-900">Logistix360</div>
  <div class="text-xs text-slate-500 mt-1">Mini Transport Management</div>
</div>

<nav class="p-3 space-y-1">
  <a routerLink="/dashboard" routerLinkActive="bg-slate-100 text-slate-900"
     class="flex items-center gap-3 px-3 py-2 rounded-xl text-slate-600 hover:bg-slate-100">
    <span class="text-sm font-medium">Dashboard</span>
  </a>

  <a routerLink="/vehicles" routerLinkActive="bg-slate-100 text-slate-900"
     class="flex items-center gap-3 px-3 py-2 rounded-xl text-slate-600 hover:bg-slate-100">
    <span class="text-sm font-medium">Vehicle Management</span>
  </a>

  <a routerLink="/drivers" routerLinkActive="bg-slate-100 text-slate-900"
     class="flex items-center gap-3 px-3 py-2 rounded-xl text-slate-600 hover:bg-slate-100">
    <span class="text-sm font-medium">Driver Management</span>
  </a>

    <a routerLink="/profile" routerLinkActive="bg-slate-100 text-slate-900"
     class="flex items-center gap-3 px-3 py-2 rounded-xl text-slate-600 hover:bg-slate-100">
    <span class="text-sm font-medium">Profile</span>
  </a>
</nav>
